<div id="game" class="w-full">
    <div id="game_board" class="flex justify-center items-center gap-1">
        <div class="flex-[5_5_0%] | flex flex-col gap-1">
            <div id="nobles" class="flex-1 | flex justify-end gap-1">
                {% for noble_html in nobles_html %}
                    {{ noble_html }}
                {% endfor %}
            </div>
            <div id="gem_cards" class="flex-[3_3_0%] | flex flex-col gap-1">
                {% for i in range(3)|reverse %}
                    <div class="flex gap-1">
                        {{ decks_html[i] }}
                        {% for j in range(gem_cards_html[i]|length) %}
                            {{ gem_cards_html[i][j] }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="players" class="flex-[2_2_0%] | flex flex-col gap-1">
            {% for i in range(4) %}
                {{ players_html[i] }}
            {% endfor %}
        </div>
        <div id="gem_pool" class="flex-[.5_.5_0%]">
            {{ gem_pool_html }}
        </div>
    </div>
</div>
