<div id="noble_card" class="
    flex-1 aspect-[2/3]
    bg-gray-400 rounded-md shadow-2xl
    flex justify-center items-center
    text-white text-center text-[10px] md:text-[12px] lg:text-[14px]
">
    <div id="card_left_spacer" class="flex-[.1_.1_0%]"></div>
    <div id="card_content" class="w-full h-full flex-1 | flex flex-col">
        <div id="card_top_spacer" class="flex-[.5_.5_0%]"></div>
        <div id="noble_card_crown" class="flex-1 w-full">
            {% include "icons/crown.svg" %}
        </div>
        <div id="noble_card_divider" class="w-full flex-1 | flex items-center">
            <div class="h-1 w-full bg-gray-300"></div>
        </div>
        <div id="noble_card_requirements_row_1" class="flex-1 flex justify-center gap-1">
            <div class="h-full aspect-square | bg-white rounded-full text-black">
                {{ noble.requirements.white or "-" }}
            </div>
            <div class="h-full aspect-square | bg-blue-500 rounded-full">
                {{ noble.requirements.blue or "-" }}
            </div>
        </div>
        <div id="noble_card_requirements_row_2" class="flex-1 flex justify-center gap-1">
            <div class="h-full aspect-square | bg-green-500 rounded-full">
                {{ noble.requirements.green or "-" }}
            </div>
            <div class="h-full aspect-square | bg-red-500 rounded-full">
                {{ noble.requirements.red or "-" }}
            </div>
            <div class="h-full aspect-square | bg-black rounded-full">
                {{ noble.requirements.black or "-" }}
            </div>
        </div>
        <div id="card_bottom_spacer" class="flex-[.5_.5_0%]"></div>
    </div>
    <div id="card_right_spacer" class="flex-[.1_.1_0%]"></div>
</div>
