<div id="noble_card" class="
    @container aspect-[2/3]
    bg-gray-400 rounded-md shadow-2xl
    flex justify-center items-center
">
    <div id="card_left_spacer" class="flex-[.1_.1_0%]"></div>
    <div id="card_content" class="
        flex-1 h-full
        text-white text-center
            text-[4px]
            @[2rem]:text-[6px]
            @[3rem]:text-[8px]
            @[4rem]:text-[10px]
            @[6rem]:text-[13px]
            @[8rem]:text-[18px]
            @[10rem]:text-[26px]
            @[12rem]:text-[39px]
        flex flex-col
    ">
        <div id="card_top_spacer" class="flex-[.5_.5_0%]"></div>
        <div id="noble_card_crown" class="flex-1 w-full">
            {% include "icons/crown.svg" %}
        </div>
        <div id="noble_card_divider" class="flex-1 w-full | flex items-center">
            <div class="h-1 w-full bg-gray-300"></div>
        </div>
        <div id="noble_card_requirements_row_1" class="flex-1 flex justify-center @[3rem]:gap-1">
            <div class="h-full aspect-square | bg-white rounded-full | text-black flex justify-center items-center">
                {{ noble.requirements.white or "-" }}
            </div>
            <div class="h-full aspect-square | bg-blue-500 rounded-full | flex justify-center items-center">
                {{ noble.requirements.blue or "-" }}
            </div>
        </div>
        <div id="noble_card_requirements_row_2" class="flex-1 flex justify-center @[3rem]:gap-1">
            <div class="h-full aspect-square | bg-green-500 rounded-full | flex justify-center items-center">
                {{ noble.requirements.green or "-" }}
            </div>
            <div class="h-full aspect-square | bg-red-500 rounded-full | flex justify-center items-center">
                {{ noble.requirements.red or "-" }}
            </div>
            <div class="h-full aspect-square | bg-black rounded-full | flex justify-center items-center">
                {{ noble.requirements.black or "-" }}
            </div>
        </div>
        <div id="card_bottom_spacer" class="flex-[.5_.5_0%]"></div>
    </div>
    <div id="card_right_spacer" class="flex-[.1_.1_0%]"></div>
</div>
