<div id="game">
    <div>
        You are in a waiting room for game:
        <br>
        {{ game_id }}
    </div>
    <div>
        <input type="hidden" name="game_id" value={{ game_id }} />
        <input
            ws-send
            type="text"
            id="input"
            name="update_player_name"
            placeholder="Player Name"
            class="border p-2 bg-gray-900 text-white"
            autofocus
        />
        {% if player_names|length > 0 %}
            <div id="players_in_waiting_room">
                Players in waiting room:
                <ul>
                    {% for player_name in player_names %}
                        <li>{{ player_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div id="players_in_waiting_room">Waiting for players</div>
        {% endif %}
        <button
            ws-send
            name="start_game"
            class="border p-2 bg-gray-900 text-white"
        >
            Start Game
        </button>
    </div>
</div>
