{% extends "game.template.html" %}

{% block content %}
<div id="gem_pool" class="
    w-16 h-96 p-4
    bg-gray-400 rounded-md shadow-2xl
    flex flex-col justify-around
    text-white text-center
">
    <div class="w-8 h-8 pt-1 | bg-white rounded-full | text-black">
        {{ gems.white }}
    </div>
    <div class="w-8 h-8 pt-1 | bg-blue-500 rounded-full">
        {{ gems.blue }}
    </div>
    <div class="w-8 h-8 pt-1 | bg-green-500 rounded-full">
        {{ gems.green }}
    </div>
    <div class="w-8 h-8 pt-1 | bg-red-500 rounded-full">
        {{ gems.red }}
    </div>
    <div class="w-8 h-8 pt-1 | bg-black rounded-full">
        {{ gems.black }}
    </div>
    <div class="w-8 h-8 pt-1 | bg-yellow-500 rounded-full | text-black">
        {{ gems.gold }}
    </div>
</div>
{% endblock %}
